.herodiv{
    background-color: antiquewhite;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
    font-family: inherit;
}
.h1text{
    font-size: 34px;
    margin-top: 40px;
    color: rgb(61, 138, 252);
    border-bottom: 1px #3026b4 solid;
    width: 450px;
    margin-bottom:14px
}
.paragraph{
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 24px;
}